#gameCanvas{
    box-shadow: 10px 10px 20px black;
}

@font-face {
    font-family: 'slabsregular';
    src: url('slabs-vmn07-webfont.woff2') format('woff2'),
         url('slabs-vmn07-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}



h1{
    text-align: center;
    font-family: slabsregular;
    font-size: 145px;
    color: yellow;
    text-shadow: 6px 6px black;
    // background-image: url(https://media.istockphoto.com/photos/splash-of-vomit-on-road-picture-id836595424?k=20&m=836595424&s=170667a&w=0&h=FjVIzQQMk7VrH9heYIngcJjbofQV4b7Wax47g1fulwU=);
    // background: violet;
}

h2 {
    text-align: center;
    color: yellow;
    font-size: 40px;
    font-family: slabsregular;
    text-shadow: 3px 4px black;
}

.rules {
    // text-align: center;
    display: flex;
    // padding-bottom: 100;
    // background: rosybrown;
    // margin: 20px;
    width: 400px;
    // height: 200px;
    // vertical-align: middle;
    margin-top: -3.5%;
    // background: black;
    // clear: both;
    // background-image: url(https://media.istockphoto.com/photos/splash-of-vomit-on-road-picture-id836595424?k=20&m=836595424&s=170667a&w=0&h=FjVIzQQMk7VrH9heYIngcJjbofQV4b7Wax47g1fulwU=);
}


.goals {
    // background: black;
}

    body {
    display: flex;
    text-align: center;
    justify-content: center;
    overflow: hidden;
    height: 100vh;
    background: linear-gradient(  
        25deg,
        rgb(75, 144, 49) 50%,
        rgb(255, 111, 200) 100%
        
        );
    }
    #gameCanvas {
        // border-width: 10%;
        float: right;
        margin-left: 20px;
        // padding-left: 20px;
        // vertical-align: middle;

        // I wanna make this padding transparent. 


        // display: flex;
        // float: right;
        // justify-content: left;
        // justify-content: ;
        // align-content: left;

        // float: right;
        // padding: 10%;
    }

    // .rightside {
    //     float: left;
    // }

    // .left {
    //     display: flex;
    //     flex-direction: column;
    //     justify-content: left;
    // }

